@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

.spacer{
    flex: 1 1 auto;
}